<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Vinayak Finmart Pvt. Ltd.</title>
    <!-- <link rel="shortcut icon" href="#" type="image/x-icon"> -->

    <!-- CSS here -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/bootstrap.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/elegant-icons.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/all.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/animate.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/nice-select.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/slick.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/slick-theme.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/default.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/responsive.css"
      media="all"
    />
  </head>

  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="ctn-preloader" class="ctn-preloader">
        <div class="round_spinner">
          <div class="spinner"></div>
          <div class="text">
            <img src="img/Vinayak/9.jpg" height="100px" alt="" />
          </div>
        </div>
        <h2 class="head">Did You Know?</h2>
        <p></p>
      </div>
    </div>
    <!-- Header -->
    <header class="header">
      <div class="header-top py-2">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5">
              <div class="header-info-left">
                <!-- <div class="language-list">
                  <select name="page-language-list" id="select-lang">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                  </select>
                </div> -->

                <div class="timestamp ms-4">
                  <i class="icon_clock_alt"></i> Mon - Fri 10:00-18:00
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="header-info-right">
                <ul>
                  <li>
                    <img
                      class="img-fluid"
                      src="img/phone-outline-white.png"
                      alt="phone"
                    /><a href="tel:+91-9815353035">+91-9815353035</a>
                  </li>

                  <li>
                    <i class="icon_mail_alt"></i
                    ><a href="mailto:info@vinayakfinmart.com"
                      >info@vinayakfinmart.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-menu header-menu-2 bg_white" id="sticky">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="/">
              <img
                src="img/Vinayak/7.png"
                height="100px"
                srcset="img/Vinayak/7.png 2x"
                alt="Vinayak-Image"
              />
            </a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="menu_toggle">
                <span class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                <span class="hamburger-cross">
                  <span></span>
                  <span></span>
                </span>
              </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav menu ms-auto">
                <li class="nav-item dropdown submenu">
                  <a
                    href="/"
                    class="nav-link dropdown-toggle "
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Home</a
                  >
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/about"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    About Us
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/loan"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Loan
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/job-post"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Jobs
                  </a>
                </li>

                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/contact"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Contact Us
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle active"
                    href="/blog"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Blog
                  </a>
                </li>
              </ul>
              <!-- dashboard button -->
              <% if (user && user.isAdmin) { %>
              <a class="theme-btn theme-btn-outlined" href="/admin">
                Dashboard
              </a>
              <% } else if (user && !user.isAdmin){ %>
              <a class="theme-btn theme-btn-outlined" href="/user">
                Dashboard
              </a>
              <% } else{ %>
              <a class="theme-btn theme-btn-outlined" href="/login">
                Dashboard
              </a>
              <% } %>

              <div class="px-2 js-darkmode-btn" title="Toggle dark mode">
                <label for="something" class="tab-btn tab-btns">
                  <ion-icon name="moon"></ion-icon>
                </label>
                <label for="something" class="tab-btn">
                  <ion-icon name="sunny"></ion-icon>
                </label>
                <label class="ball" for="something"></label>
                <input
                  type="checkbox"
                  name="something"
                  id="something"
                  class="dark_mode_switcher"
                />
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header end-->

    <main>
      <!-- BreadCrumb start-->
      <section class="breadcrumb-area" id="banner_animation2 ">
        <div
          class="breadcrumb-widget breadcrumb-widget-2 pt-200 pb-145"
          style="
            background-size: cover;
            background-position: center;
            background-image: url(https://media.istockphoto.com/id/899347180/vector/business-loan-icon.jpg?s=612x612&w=0&k=20&c=MX1Hr6jE854-hTvJUucTSM6liv3Qrh5WZlSxZ_od-9A=);
          "
        >
          <div class="shapes">
            <div
              class="one-shape shape-1"
              data-parallax='{"x": 100, "y": 0, "rotateZ":0}'
            >
              <img src="img/breadcrumb/Polygon-7.png" alt="shape" />
            </div>
            <div
              class="one-shape shape-2"
              data-parallax='{"x": 200, "y": 50, "rotateZ":0}'
            >
              <img src="img/breadcrumb/Polygon-2.png" alt="shape" />
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-7 mx-auto">
                <div class="breadcrumb-content pt-50">
                  <h1>Blog</h1>
                  <div class="search-box mt-20">
                    <form action="#">
                      <div class="input-group">
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Search for topic..."
                        />
                        <button class="search-btn input-group-append">
                          <i class="icon_search"></i>
                        </button>
                      </div>
                    </form>
                  </div>

                  <div
                    class="popular-tags d-flex flex-wrap justify-content-center align-items-center mt-20"
                  >
                    <span>Popular Tags:</span>
                    <a href="#">Business</a>
                    <a href="#">Financial</a>
                    <a href="#">Case Study</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- BreadCrumb end-->

      <!-- Blog Posts start-->
      <section class="pt-120 pb-120 bg_disable">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="blog-post-widget">
                <div class="row gy-4">
                  <% blogs.forEach(blog => { %>
                  <div class="col-md-6">
                    <div
                      class="blog-widget-2 wow fadeInUp"
                      data-wow-delay="0.1s"
                    >
                      <div class="blog-img">
                        <img src="<%= blog.images[0].url %>" alt="blog-img" />
                        <div class="catagory bg_primary">
                          <%= blog.category %>
                        </div>
                      </div>
                      <div class="blog-content my-blog">
                        <h4>
                          <a href="blog-details/<%= blog._id %>"
                            ><%= blog.title %></a
                          >
                        </h4>
                        <p><%= blog.description %></p>
                        <div class="post-info">
                          <div class="author">
                            <img
                              src="img/blog/user-profile.svg"
                              alt="user profile"
                            />
                            <span><%= blog.author %></span>
                          </div>
                          <div class="post-date">
                            <img
                              src="img/blog/calendar-outline.svg"
                              alt="calendar"
                            />
                            <span><%= blog.postingDate.toDateString() %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                </div>
                <div class="row mt-55">
                  <div class="col-12">
                    <div class="pagination-widget">
                      <ul>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                          <a href="#"> <i class="arrow_carrot-right"></i> </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 ps-xl-5 mt-5 mt-lg-0">
              <div class="blog-sidebar-widget ps-lg-2">
                <div class="widget-subscribe">
                  <h4 class="widget-title mb-15">Subscribe to our blog</h4>
                  <p>Get the latest posts in your email</p>

                  <form id="subscribe-form" class="mt-15">
                    <input
                      class="form-control"
                      type="text"
                      name="email"
                      placeholder="Enter your email"
                    />
                    <button class="theme-btn w-100 mt-30" type="submit">
                      Subscribe
                    </button>
                  </form>
                  <div id="subscribe-message" class="text-success"></div>
                </div>

                <div class="widget-social mt-40">
                  <div class="row text-center gx-3 gy-3 gy-md-0">
                    <div class="col-md-4">
                      <a href="#">
                        <img
                          src="img/social/facebook-logo.svg"
                          alt="faceebook"
                        />
                        <h6>815.5K</h6>
                        <span>Fans</span>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="#">
                        <img src="img/social/twitter.svg" alt="twitter" />
                        <h6>107.2K</h6>
                        <span>Followers</span>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="#">
                        <img src="img/social/youtube.svg" alt="youtube" />
                        <h6>90.6K</h6>
                        <span>Subscribers</span>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="widget-catagory mt-55">
                  <h4 class="widget-title mb-20">Categories</h4>

                  <ul>
                    <li>
                      <a href="#">Business<span>(10)</span></a>
                    </li>
                    <li>
                      <a href="#">Loan<span>(9)</span></a>
                    </li>
                    <li>
                      <a href="#">Financial<span>(12)</span></a>
                    </li>
                    <li>
                      <a href="#">Bank Transfer<span>(07)</span></a>
                    </li>
                    <li>
                      <a href="#">Technology<span>(06)</span></a>
                    </li>
                    <li>
                      <a href="#">Security<span>(11)</span></a>
                    </li>
                    <li>
                      <a href="#">Privacy<span>(05)</span></a>
                    </li>
                  </ul>
                </div>

                <div class="widget-tags mt-50">
                  <h4 class="widget-title mb-0">Tags</h4>

                  <div class="tags d-flex flex-wrap mt-30">
                    <a href="#">Banking</a>
                    <a href="#">web design</a>
                    <a href="#">ui/ux</a>
                    <a href="#">saas</a>
                    <a href="#">software</a>
                    <a href="#">creative</a>
                    <a href="#">product</a>
                    <a href="#">development</a>
                    <a href="#">design</a>
                    <a href="#">sequrity</a>
                    <a href="#">agency</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog Posts end-->
    </main>

    <!-- footer -->

    <footer class="footer footer-3">
      <div class="footer-top pt-lg-130 pb-lg-115 pt-105 pb-105">
        <div class="container">
          <div class="row gx-0">
            <div class="col-lg-4 col-sm-6 text-center text-sm-start ms-0">
              <div class="footer-widget mb-30 wow fadeInLeft">
                <div class="footer-text mb-20">
                  <p>
                    Vinayak Finmart is a leading bank in the worldzone and a
                    prominent international banking institution
                  </p>
                </div>

                <span class="overline">Disbursed</span>

                <div class="footer-bold">
                  <span class="counter">&#8377;<span>3000</span> </span>
                  <span class="counter">Cr</span>
                </div>
                <p class="time">2021-01-05 14:00 (INTERNATIONAL TIME)</p>
              </div>
            </div>

            <div class="col-lg-2 col-sm-6 text-center text-sm-start ms-lg-5">
              <div
                class="footer-widget mb-30 wow fadeInUp"
                data-wow-delay="0.1s"
              >
                <div class="f-widget-title">
                  <h5>Vinayak Finmart at a Glance</h5>
                </div>
                <div class="footer-link">
                  <ul>
                    <li><a href="about.html"> About Us</a></li>
                    <li><a href="contact.html"> Contact Us</a></li>
                    <li><a href="job-post.html"> Jobs</a></li>
                    <li><a href="blog.html"> Our Blogs</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-2  col-sm-6 text-center text-sm-start ms-lg-5">
                        <div class="footer-widget mb-30 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="f-widget-title">
                                <h5>Publications</h5>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="#"> Compliance Publications</a></li>
                                    <li><a href="#"> Annual Reports</a></li>
                                    <li><a href="#"> CSR Reports</a></li>
                                    <li><a href="#"> Financial documentation</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 col-sm-6 text-center text-sm-start me-0 ms-lg-5">
                        <div class="footer-widget mb-30 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="f-widget-title">
                                <h5>Direct Access</h5>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="#">Our news</a></li>
                                    <li><a href="#">Our press releases</a></li>
                                    <li><a href="#">Our job offers</a></li>
                                    <li><a href="#">Our websites</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
          </div>
        </div>
      </div>
      <!-- copyright area -->
      <div class="copyright pt-25 pb-25">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-3 text-center text-lg-start">
              <a href="index.html" class="p-0 m-0"
                ><img src="img/Vinayak/17.png" height="100px" alt="logo"
              /></a>
            </div>
            <div class="col-lg-5 text-center my-3 my-sm-0">
              <div class="copyright-text">
                <p>
                  Copyright &copy; 2023 Vinayak Finmart Pvt Ltd
                  <br class="d-sm-none" />
                  <a class="ms-2" href="#">Privacy</a> |
                  <a class="ms-0" href="#">Terms of Use</a>
                </p>
              </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
              <div class="social-button">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <!-- Back to top button -->
    <a id="back-to-top" title="Back to Top"></a>

    <!-- JS here -->
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/preloader.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="/js/jquery.smoothscroll.min.js"
    ></script>
    <script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="/js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="/js/parallax.js"></script>
    <script type="text/javascript" src="/js/jquery.parallax-scroll.js"></script>
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
