<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Vinayak Finmart Pvt. Ltd.</title>
    <!-- <link rel="shortcut icon" href="#" type="image/x-icon"> -->

    <!-- CSS here -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/bootstrap.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/elegant-icons.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/all.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/animate.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/nice-select.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/slick.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/slick-theme.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/default.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/responsive.css"
      media="all"
    />
  </head>

  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="ctn-preloader" class="ctn-preloader">
        <div class="round_spinner">
          <div class="spinner"></div>
          <div class="text">
            <img src="img/Vinayak/9.jpg" height="100px" alt="" />
          </div>
        </div>
        <h2 class="head">Did You Know?</h2>
        <p></p>
      </div>
    </div>
    <!-- Header -->
    <header class="header">
      <div class="header-top py-2">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5">
              <div class="header-info-left">
                <!-- <div class="language-list">
                <select name="page-language-list" id="select-lang">
                  <option value="English">English</option>
                  <option value="Hindi">Hindi</option>
                </select>
              </div> -->

                <div class="timestamp ms-4">
                  <i class="icon_clock_alt"></i> Mon - Fri 10:00-18:00
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="header-info-right">
                <ul>
                  <li>
                    <img
                      class="img-fluid"
                      src="img/phone-outline-white.png"
                      alt="Phone-Image"
                    /><a href="tel:+91-9815353035">+91-9815353035</a>
                  </li>

                  <li>
                    <i class="icon_mail_alt"></i
                    ><a href="mailto:info@vinayakfinmart.com"
                      >info@vinayakfinmart.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-menu header-menu-2 bg_white" id="sticky">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="/">
              <img id="navbar-logo" height="100px" alt="Vinayak-Image" />
            </a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="menu_toggle">
                <span class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                <span class="hamburger-cross">
                  <span></span>
                  <span></span>
                </span>
              </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav menu ms-auto">
                <li class="nav-item dropdown submenu">
                  <a
                    href="/"
                    class="nav-link dropdown-toggle"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Home</a
                  >
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/about"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    About Us
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/loan"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Loan
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/job-post"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Jobs
                  </a>
                </li>

                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/contact"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Contact Us
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle active"
                    href="/blog"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Blog
                  </a>
                </li>
              </ul>
              <!-- dashboard button -->
              <% if (user && user?.isAdmin) { %>
              <a class="theme-btn theme-btn-outlined" href="/admin">
                Dashboard
              </a>
              <% } else if (user && !user?.isAdmin){ %>
              <a class="theme-btn theme-btn-outlined" href="/user">
                Dashboard
              </a>
              <% } else{ %>
              <a class="theme-btn theme-btn-outlined" href="/login">
                Dashboard
              </a>
              <% } %>

              <li class="nav-item dropdown submenu">
                <div class="px-2 js-darkmode-btn" title="Toggle dark mode">
                  <label for="something" class="tab-btn tab-btns">
                    <ion-icon name="moon"></ion-icon>
                  </label>
                  <label for="something" class="tab-btn">
                    <ion-icon name="sunny"></ion-icon>
                  </label>
                  <label class="ball" for="something"></label>
                  <input
                    type="checkbox"
                    name="something"
                    id="something"
                    class="dark_mode_switcher"
                  />
                </div>
              </li>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header end-->

    <main>
      <!-- BreadCrumb start-->
      <section class="breadcrumb-area" id="banner_animation2 ">
        <div
          class="breadcrumb-widget breadcrumb-widget-2 pt-200 pb-145"
          style="
            background-size: cover;
            background-position: center;
            background-image: url(img/banner/blog-banner.jpg);
          "
        >
          <div class="shapes">
            <div
              class="one-shape shape-1"
              data-parallax='{"x": 100, "y": 0, "rotateZ":0}'
            >
              <img src="img/breadcrumb/Polygon-7.png" alt="shape" />
            </div>
            <div
              class="one-shape shape-2"
              data-parallax='{"x": 200, "y": 50, "rotateZ":0}'
            >
              <img src="img/breadcrumb/Polygon-2.png" alt="shape" />
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-7 mx-auto">
                <div class="breadcrumb-content pt-50">
                  <h1>Blog</h1>
                  <div class="search-box mt-20">
                    <form action="/blog" method="get">
                      <div class="input-group">
                        <input
                          name="search"
                          class="form-control"
                          type="text"
                          placeholder="Search for topic..."
                        />
                        <button
                          type="submit"
                          class="search-btn input-group-append"
                        >
                          <i class="icon_search"></i>
                        </button>
                      </div>
                    </form>
                  </div>

                  <div
                    class="popular-tags d-flex flex-wrap justify-content-center align-items-center mt-20"
                  >
                    <span
                      >Empower your dreams, borrow wisely, and shape a future of
                      financial triumph.</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- BreadCrumb end-->

      <!-- Blog Posts start-->
      <section class="pt-120 pb-120 bg_disable">
        <div class="container">
          <% if (search){ %>
          <button
            onclick="window.location='/blog'"
            type="button"
            class="btn btn-primary mb-25"
          >
            show all
          </button>
          <% } %>
          <div class="row">
            <div class="col-lg-8">
              <div class="blog-post-widget">
                <div class="row gy-4">
                  <% blogs.forEach(blog=> { %>
                  <div class="col-md-6">
                    <div
                      class="blog-widget-2 wow fadeInUp"
                      data-wow-delay="0.1s"
                    >
                      <div class="blog-img">
                        <img src="<%= blog.images[0].url %>" alt="blog-img" />
                        <div class="catagory bg_primary">
                          <%= blog.category %>
                        </div>
                      </div>
                      <div class="blog-content my-blog">
                        <h4>
                          <a href="blog-details/<%= blog._id %>">
                            <%= blog.title %>
                          </a>
                        </h4>
                        <p><%= blog.description %></p>
                        <div class="post-info">
                          <div class="author">
                            <img
                              src="img/blog/user-profile.svg"
                              alt="user profile"
                            />
                            <span> <%= blog.author %> </span>
                          </div>
                          <div class="post-date">
                            <img
                              src="img/blog/calendar-outline.svg"
                              alt="calendar"
                            />
                            <span>
                              <%= blog.postingDate.toDateString() %>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 ps-xl-5 mt-5 mt-lg-0">
              <div class="blog-sidebar-widget ps-lg-2">
                <div class="widget-subscribe">
                  <h4 class="widget-title mb-15">Subscribe to our blog</h4>
                  <p>Get the latest posts in your email</p>

                  <form id="subscribe-form" class="mt-15">
                    <input
                      class="form-control"
                      type="text"
                      name="email"
                      placeholder="Enter your email"
                    />
                    <button class="theme-btn w-100 mt-30" type="submit">
                      Subscribe
                    </button>
                  </form>
                  <div id="subscribe-message" class="text-success"></div>
                </div>

                <div class="widget-social mt-40">
                  <div class="row text-center gx-3 gy-3 gy-md-0">
                    <div class="col-md-4">
                      <a href="#">
                        <img
                          src="img/social/facebook-logo.svg"
                          alt="faceebook"
                        />
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="#">
                        <img src="img/social/twitter.svg" alt="twitter" />
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href="#">
                        <img src="img/social/youtube.svg" alt="youtube" />
                      </a>
                    </div>
                  </div>
                </div>

                <div class="widget-catagory mt-55">
                  <h4 class="widget-title mb-20">Categories</h4>

                  <ul>
                    <% allCategories?.forEach(element=> { %>

                    <li>
                      <a href="/blog?category=<%= element %>">
                        <%= element%>
                      </a>
                    </li>
                    <% }) %>
                  </ul>
                </div>

                <div class="widget-tags mt-50">
                  <h4 class="widget-title mb-0">Tags</h4>

                  <div class="tags d-flex flex-wrap mt-30">
                    <% allTags.forEach(element=> { %>

                    <a href="#"> <%= element %> </a>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog Posts end-->
    </main>

    <!-- footer -->

    <footer class="footer footer-3">
      <div class="footer-top pt-100 pb-lg-115 pb-120">
        <div class="container">
          <div class="row gx-0 pt-60">
            <!-- left section -->
            <div class="col-lg-4 col-sm-6 text-center text-sm-start ms-0">
              <div class="footer-widget wow fadeInLeft mb-30">
                <div class="footer-text mb-20">
                  <p>
                    Vinayak Finmart Embarking on a journey to shape futures. Our
                    legacy fuels dreams. Your trusted partner in financial
                    growth and success.
                  </p>
                </div>

                <span class="overline">Disbursed</span>

                <div class="footer-bold">
                  <span class="counter">&#8377;<span>3000</span> </span>
                  <span class="counter">Cr</span>
                </div>
                <p class="time">2021-01-05 14:00 (INTERNATIONAL TIME)</p>
              </div>
            </div>
            <!-- center section  -->
            <div
              class="col-lg-3 col-sm-6 text-center text-sm-start me-0 ms-lg-5"
            >
              <div
                class="footer-widget mb-30 wow fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="f-widget-title">
                  <h4>Vinayak Finmart at a Glance</h4>
                </div>
                <div class="footer-link">
                  <ul>
                    <li><a href="about.html"> About Us </a></li>
                    <li><a href="contact.html"> Contact Us</a></li>
                    <li><a href="job-post.html"> Jobs</a></li>
                    <li><a href="blog.html"> Our Blogs</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- feedback form -->
          </div>
        </div>
      </div>
      <!-- copyright area -->
      <div class="copyright pt-25 pb-25">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 text-center text-lg-start">
            <a href="/" class="p-0 m-0 h-100 w-100 object-fit-cover"><img src="img/Vinayak/17.png" height="100px" width="100px" alt="logo" /></a>
          </div>
          <div class="col-lg-6 text-center my-3 my-sm-0">
            <div class="copyright-text">
              <div class="d-flex gap-3 align-items-center">
                <div>Copyright &copy; 2023</div>
                <div class="border" style="height: 25px;"></div>
                <div>Vinayak Finmart Pvt. Ltd</div>
                <div class="border" style="height: 25px;"></div>
                <div><a href="/privacy-policy">Privacy Terms of Use</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center text-lg-end">
            <div class="social-button">
              <a target="_blank" href="https://www.facebook.com/profile.php?id=61550778823112&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
              <a target="" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-twitter-x" viewBox="0 0 16 16">
                  <path
                    d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" />
                </svg>
              </a>
              <a  target="" href="https://instagram.com/vinayakfinmart?igshid=NzZlODBkYWE4Ng=="><i
                  class="fab fa-instagram"></i></a>

              <a target="" href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </footer>
    <!-- footer end -->

    <!-- Back to top button -->
    <a id="back-to-top" title="Back to Top"></a>

    <!-- JS here -->
    <script>
      function resetSearch() {
        document.getElementById('searchQuery').value = '';
      }
    </script>

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/preloader.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="/js/jquery.smoothscroll.min.js"
    ></script>
    <script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="/js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="/js/parallax.js"></script>
    <script type="text/javascript" src="/js/jquery.parallax-scroll.js"></script>
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
