<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <meta name="description" content="Vinayak Finmart, " />
    <meta
      name="keywords"
      content="Vinayak,Vinayak Finmart,Home, Home Loan, Education, Education Loan, Easy Loan, car Loan "
    />
    <meta name="author" content="livinArt" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vinayak Finmart Pvt. Ltd.</title>

    <!-- CSS here -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/bootstrap.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/elegant-icons.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/all.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/animate.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/slick.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/slick-theme.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/nice-select.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/animate.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/default.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/feedback.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/responsive.css"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="/css/modal.css" media="all" />

    <link
      rel="stylesheet"
      type="text/css"
      href="/css/ourpartner.css"
      media="all"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/sass/_partnerGrid.scss"
      media="all"
    />
  </head>

  <body style="position: relative">
    <!-- Preloader -->
    <div id="preloader">
      <div id="ctn-preloader" class="ctn-preloader">
        <div class="round_spinner">
          <div class="spinner"></div>
          <div class="text">
            <img src="img/Vinayak/9.jpg" height="100px" alt="Vinayak Logo" />
          </div>
        </div>
        <h2 class="head">Did You Know?</h2>
        <p></p>
      </div>
    </div>

    <!-- Header -->
    <header class="header">
      <div class="header-top py-2">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5">
              <div class="header-info-left">
                <!-- <div class="language-list">
                <select name="page-language-list" id="select-lang">
                  <option value="English">English</option>
                  <option value="Hindi">Hindi</option>
                </select>
              </div> -->

                <div class="timestamp ms-4">
                  <i class="icon_clock_alt"></i> 24 X 7 Available
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="header-info-right">
                <ul>
                  <li>
                    <img
                      class="img-fluid"
                      src="img/phone-outline-white.png"
                      alt="Phone-Image"
                    /><a href="tel:+91-9815353035">+91-9815353035</a>
                  </li>

                  <li>
                    <i class="icon_mail_alt"></i
                    ><a href="mailto:info@vinayakfinmart.com"
                      >info@vinayakfinmart.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-menu header-menu-2 bg_white" id="sticky">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="/">
              <img
                id="navbar-logo"
                class="img-fluid object-fit-cover"
                alt="Vinayak-Image"
              />
              <!-- <img id="navbar-logo" height="100px" alt="Vinayak-Image" /> -->
            </a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="menu_toggle">
                <span class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                <span class="hamburger-cross">
                  <span></span>
                  <span></span>
                </span>
              </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav menu ms-auto">
                <li class="nav-item dropdown submenu">
                  <a
                    href="/"
                    class="nav-link dropdown-toggle active"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Home</a
                  >
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/about"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    About Us
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/loan"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Loan
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/job-post"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Jobs
                  </a>
                </li>

                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/contact"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Contact Us
                  </a>
                </li>
                <li class="nav-item dropdown submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/blog"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Blog
                  </a>
                </li>
              </ul>
              <!-- dashboard button -->
              <% if (user && user?.isAdmin) { %>
              <a class="theme-btn theme-btn-outlined" href="/admin">
                Dashboard
              </a>
              <% } else if (user && !user?.isAdmin){ %>
              <a class="theme-btn theme-btn-outlined" href="/user">
                Dashboard
              </a>
              <% } else{ %>
              <a class="theme-btn theme-btn-outlined" href="/login">
                Login/Sign-up
              </a>
              <% } %>

              <!-- <li class="nav-item dropdown submenu">
                      <div class="px-2 js-darkmode-btn" title="Toggle dark mode">
                        <label for="something" class="tab-btn tab-btns">
                          <ion-icon name="moon"></ion-icon>
                        </label>
                        <label for="something" class="tab-btn">
                          <ion-icon name="sunny"></ion-icon>
                        </label>
                        <label class="ball" for="something"></label>
                        <input type="checkbox" name="something" id="something" class="dark_mode_switcher" />
                      </div>

                    </li> -->
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Header end-->

    <main class="home">
      <!-- banner section -->
      <section class="banner-area-5 mt-100" id="banner_animation">
        <div class="bg-shapes">
          <div class="shape" data-parallax='{ "x": -30,"y": 90,"rotateZ":50}'>
            <img
              class="layer"
              data-depth="-0.06"
              src="img/home-4/shape-2.png"
              alt="Doddle-Image"
            />
          </div>
          <div class="shape" data-parallax='{ "y": -200}'>
            <img
              class="layer"
              data-depth="-0.15"
              src="img/home-4/shape-3.png"
              alt="Doddle-Image"
            />
          </div>
          <div class="shape" data-parallax='{"x": -40, "y": -150}'>
            <img
              class="layer"
              data-depth="-0.3"
              src="img/home-4/shape-4.png"
              alt="Doddle-Image"
            />
          </div>
          <div
            class="shape"
            data-parallax='{"x": 300, "y": 370, "rotateZ":200}'
          >
            <img
              class="layer"
              data-depth="0.5"
              src="img/home-4/shape-5.png"
              alt="Doddle-Image"
            />
          </div>
          <div class="shape"></div>
          <div class="shape"></div>
        </div>

        <!-- calculator -->
        <div class="container">
          <div class="row align-items-end pt-170 pb-120">
            <div class="col-lg-6">
              <div class="banner-content wow fadeInRight" data-wow-delay="0.1s">
                <h1>
                  Empowering Dreams, Enriching
                  <span class="underline-shape">Lives</span>
                </h1>
                <p>Get Instant Loan Approvals .</p>

                <div class="d-flex flex-wrap mt-40">
                  <a href="/loan" class="theme-btn me-4">Instant Loans</a>
                  <a href="/about" class="under_link"
                    >Explore more <i class="arrow_right"></i
                  ></a>
                </div>
              </div>
            </div>

            <!-- Loan calculator -->
            <div class="col-lg-6">
              <div
                class="basic-loan-calculator wow fadeInLeft"
                data-wow-delay="0.1s"
              >
                <img class="shape" src="img/home-4/shape-7.png" alt="" />
                <h4 class="text-center">Loan calculator</h4>
                <form class="d-flex flex-column">
                  <div class="mb-3">
                    <label class="label" for="loandetails">Type of Loan</label>
                    <select class="w-100" id="loandetails" required>
                      <option value="">Types of Loan</option>
                      <!-- <option value="Debt-Financing">Debt Loan</option> -->
                      <% loanCategories.forEach(element => { %>
                      <option value="<%= element %>"><%= element %></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="label" for="loan-amount"
                      >Amount of money
                    </label>
                    <div class="input-field">
                      <span>&#8377;</span>
                      <input
                        required="true"
                        type="number"
                        id="loan-amount"
                        placeholder="Enter amount"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <!-- Tenure Period -->
                  <div class="mb-3">
                    <label class="label" for="loan-time">Tenure Period</label>
                    <div class="input-field tenure">
                      <input
                        required
                        type="number"
                        id="loan-time"
                        placeholder="Tenure Period"
                        class="form-control"
                      />
                      <select class="w-100 nice-select" id="loandetails">
                        <option value="">Year</option>
                        <option value=" month">Month</option>
                      </select>
                    </div>
                  </div>
                  <!-- Rate of Intrest -->
                  <div class="mb-3">
                    <label class="label" for="rate-interest"
                      >Rate of Interest
                    </label>
                    <div class="input-field">
                      <span>&#37;</span>
                      <input
                        required="true"
                        type="number"
                        id="rate-interest"
                        placeholder="Enter Rate of Interest"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <button
                    type="button"
                    class="theme-btn w-100"
                    id="calculateButton"
                  >
                    Calculate
                  </button>
                </form>
              </div>
            </div>
            <!-- Modal -->
            <div id="loanResultModal" class="modal homepage">
              <div class="modal-content homepage">
                <span class="close homepage" id="closeModal">&times;</span>
                <h2>Loan Calculation Result</h2>
                <p id="loanResult"></p>
                <a href="/loan" class="theme-btn w-100">Apply Now</a>
              </div>
            </div>
          </div>
        </div>
        <!-- partners -->
        <div class="banner-area-5 mt-70">
          <div class="partners">
            <div class="slider">
              <div class="slide-track">
                <div class="slide">
                  <img
                    src="/img/bank/axis.png"
                    height="80"
                    width="200"
                    style="object-fit: cover"
                    alt="Axis Bank"
                  />
                </div>

                <div class="slide">
                  <img src="/img/bank/dcb.png" height="80" alt="DCB" />
                </div>
                <div class="slide">
                  <img src="/img/bank/hdfc.png" height="80" alt="HDFC Bank" />
                </div>
                <div class="slide">
                  <img
                    src="/img/bank/icici.png"
                    style="object-fit: cover; width: 200px"
                    alt="ICICI Bank"
                  />
                </div>
                <div class="slide">
                  <img
                    src="/img/bank/iifl.png"
                    style="object-fit: cover; width: 200px; height: 80px"
                    alt="IIFL Bank"
                  />
                </div>
                <div class="slide">
                  <img
                    src="/img/bank/idbi.png"
                    height="80"
                    width="200"
                    style="object-fit: cover"
                    alt="IDBI Bank"
                  />
                </div>
                <div class="slide">
                  <img
                    src="/img/bank/idfc.svg"
                    height="80"
                    width="200"
                    style="object-fit: fit"
                    alt="IDFC Bank"
                  />
                </div>

                <div class="slide">
                  <img
                    src="/img/bank/indusind.png"
                    height="80"
                    width="200"
                    style="object-fit: cover"
                    alt="IndusInd Bank"
                  />
                </div>
                <div class="slide">
                  <img
                    src="/img/bank/kotak.png"
                    style="object-fit: cover"
                    height="80"
                    width="200"
                    alt="Kotak Mahindra Bank"
                  />
                </div>
                <div class="slide">
                  <img
                    src="/img/bank/punjab.png"
                    height="80"
                    style="object-fit: cover"
                    width="200"
                    alt="Punjab bank of india"
                  />
                </div>
                <div class="slide">
                  <img
                    src="/img/bank/shriram.png"
                    height="80"
                    width="200"
                    alt="Shriram Finance"
                  />
                </div>
                <div class="slide">
                  <img
                    src="/img/bank/unionbank.png"
                    height="80"
                    style="object-fit: cover"
                    width="200"
                    alt="Unionbank Bank"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- feature section -->
      <section id="feature" class="steps-area pt-140 pb-105 bg-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto pb-55">
              <div class="section-title">
                <span class="short-title-2">OUR PROCESS</span>
                <h1 class="wow fadeInUp">
                  3 <span class="underline-shape">Steps</span> Loan Approval
                </h1>
                <p class="wow fadeInUp" data-wow-delay="0.3s">
                  Apply for a loan hassle-free with our streamlined three-step
                  process. Complete the online form, upload necessary documents,
                  and await swift approval.
                </p>
              </div>
            </div>
          </div>
          <div class="row gy-xl-0 gy-4">
            <div class="col-xl-4 col-md-6">
              <div
                class="feature-card-widget-8 wow fadeInUp"
                data-wow-delay="0.1s"
              >
                <div class="card-img">
                  <img src="img/home-4/step-icon-01.svg" alt="feature svg" />
                </div>
                <h6>Personal Details</h6>
                <p>
                  Provide your essential details to initiate the loan process
                  seamlessly.
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div
                class="feature-card-widget-8 wow fadeInUp"
                data-wow-delay="0.3s"
              >
                <div class="card-img">
                  <img src="img/home-4/step-icon-02.svg" alt="feature svg" />
                </div>
                <h6>Document Upload</h6>
                <p>
                  Securely upload necessary documents for a swift evaluation of
                  your loan application.
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mx-auto">
              <div
                class="feature-card-widget-8 wow fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="card-img">
                  <img src="img/home-4/step-icon-03.svg" alt="feature svg" />
                </div>
                <h6>Get Approved in 24 hrs</h6>
                <p>
                  Experience rapid loan approval within 24 hours of
                  completing the process.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- feature section end-->

      <section class="about-area bg-white">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7 d-flex justify-content-center">
              <div
                class="cash-img"
                style="
                  border-radius: 15px;
                  object-fit: cover;
                  overflow: hidden;
                  height: 100%;
                  width: 500px;
                "
              >
                <img
                  style="
                    border-radius: 15px;
                    object-fit: cover;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                    margin: auto;
                  "
                  class="img-fluid"
                  src="/img/poster/poster_1.png"
                  alt="Poster Loan Image"
                />
                <!-- <img class="msg-1 wow fadeInRight" data-wow-delay="0.1s" src="img/home-4/basic-info-2.png" alt="" />
              <img class="msg-2 wow fadeInRight" data-wow-delay="0.3s" src="img/home-4/basic-info-3.png" alt="" /> -->
              </div>
            </div>
            <div class="col-lg-5 wow fadeInLeft">
              <div class="section-title text-start">
                <span class="short-title-2">WHY VINAYAK FINMART ?</span>
                <h1 class="mb-3">
                  Seamless Loan <span class="underline-shape">Management</span>
                </h1>
                <p>
                  Streamline your financial journey with our customer dashboard.
                  Easily apply, check eligibility, and track loan progress.
                  Monitor repayments and stay updated on application status—all
                  conveniently in one place.
                </p>
                <ul class="list-unstyled feature-list">
                  <li>
                    <i class="fas fa-check-circle"></i> Easy Online Application
                    For Loan
                  </li>
                  <li>
                    <i class="fas fa-check-circle"></i> Smart Application
                    Tracking Dashboard
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- About Area Tab section -->
      <section class="about-tab-area bg-white">
        <div class="container">
          <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="freelancer-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#freelancer"
                  type="button"
                  role="tab"
                  aria-controls="freelancer"
                  aria-selected="true"
                >
                  Housing Loan
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="startup-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#startup"
                  type="button"
                  role="tab"
                  aria-controls="startup"
                  aria-selected="false"
                >
                  Education Loan
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="business-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#business"
                  type="button"
                  role="tab"
                  aria-controls="business"
                  aria-selected="false"
                >
                  Car Loan
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="micro_business-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#micro_business"
                  type="button"
                  role="tab"
                  aria-controls="micro_business"
                  aria-selected="false"
                >
                  Business Loan
                </button>
              </li>
            </ul>
          </div>
          <div class="tab-content" id="myTabContent">
            <!-- item 1 -->
            <div
              class="tab-pane fade show active"
              id="freelancer"
              role="tabpanel"
              aria-labelledby="freelancer-tab"
            >
              <div class="row align-items-center">
                <div class="col-lg-5">
                  <div class="section-title text-start">
                    <h1>
                      Building Dreams, Creating
                      <span class="underline-shape">Homes</span>
                    </h1>
                    <p>
                      Pre-built homes or buying from a builder, our loans are
                      tailored for legality and construction quality.
                    </p>
                    <a class="read-more" href="/loan"
                      >Get started now <i class="arrow_right"></i
                    ></a>
                  </div>
                </div>
                <div class="col-lg-7 d-flex justify-content-center">
                  <div
                    class="img-container"
                    style="width: 31.25rem; height: 25rem; margin: auto"
                  >
                    <img
                      class="img-fluid"
                      src="img/poster/poster_2.png"
                      alt="House Loan-Image"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- item 2  -->
            <div
              class="tab-pane fade"
              id="startup"
              role="tabpanel"
              aria-labelledby="startup-tab"
            >
              <div class="row align-items-center">
                <div class="col-lg-5">
                  <div class="section-title text-start">
                    <h1>
                      Empower Tomorrow's
                      <span class="underline-shape">Leaders</span>
                    </h1>
                    <p>
                      Empower your academic journey with our Education Loan.
                      Crafted for students aspiring towards a brighter future,
                      our flexible solutions require essential documentation
                      like KYC, ensuring a seamless application process
                    </p>
                    <a class="read-more" href="/loan"
                      >Get started now <i class="arrow_right"></i
                    ></a>
                  </div>
                </div>
                <div class="col-lg-7 d-flex justify-content-center">
                  <div
                    class="img-container"
                    style="width: 31.25rem; height: 25rem; margin: auto"
                  >
                    <img
                      class="img-fluid"
                      src="img/poster/educationLoan.png"
                      alt="Education-Loan"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- item 3  -->
            <div
              class="tab-pane fade"
              id="business"
              role="tabpanel"
              aria-labelledby="business-tab"
            >
              <div class="row align-items-center">
                <div class="col-lg-5">
                  <div class="section-title text-start">
                    <h1>
                      Drive Your <span class="underline-shape">Dreams</span>
                    </h1>
                    <p>
                      Simplified car loans with KYC, financial docs, and an
                      authentic quotation from agencies or companies.
                    </p>
                    <a class="read-more" href="/loan"
                      >Get started now <i class="arrow_right"></i
                    ></a>
                  </div>
                </div>
                <div class="col-lg-7 d-flex justify-content-center">
                  <div
                    class="img-container"
                    style="width: 31.25rem; height: 25rem; margin: auto"
                  >
                    <img
                      class="img-fluid"
                      src="img/poster/carLoan_3.png"
                      alt="Car-Loan"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- item 4  -->
            <div
              class="tab-pane fade"
              id="micro_business"
              role="tabpanel"
              aria-labelledby="micro_business-tab"
            >
              <div class="row align-items-center">
                <div class="col-lg-5">
                  <div class="section-title text-start">
                    <h1>
                      Fueling
                      <span class="underline-shape">Enterprises</span>
                    </h1>
                    <p>
                      Start-ups get immediate government-regulated loans of 10
                      lac without collateral. Regular business loans, collateral
                      based, no upper cap.
                    </p>
                    <a class="read-more" href="/loan"
                      >Get started now <i class="arrow_right"></i
                    ></a>
                  </div>
                </div>
                <div class="col-lg-7 d-flex justify-content-center">
                  <div
                    class="img-container"
                    style="width: 31.25rem; height: 25rem; margin: auto"
                  >
                    <img
                      class="img-fluid"
                      src="img/poster/bussLoan_1.png"
                      alt="Bussiness-Loan"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Area Tab end section -->

      <!-- TESTONOMIAL SECTION START -->
      <!-- <section class="pt-140 pb-140 testimonial-area ">
      <div class="container-fluid px-0">
        <div class="testimonial-slider">
          <div class="single-slider container px-0">
            <div class="testimonial-widget">
              <div class="row">
                <div class="col-sm-4">
                  <div class="author-img">
                    <img class="w-100 h-100 object-fit-cover" src="img/testimonial/img-2.png" alt="image" />
                  </div>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                  <div class="testimonial-content">
                    <div class="watch-button">
                      <a data-fancybox href="https://www.youtube.com/watch?v=xcJtL7QggTI">
                        <i class="fa fa-play"></i>
                        watch the video
                      </a>
                    </div>
                    <h2>Making dreams a reality!</h2>
                    <p class="pr-lg-60">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Consequuntur eveniet vero consectetur voluptatibus
                      officia impedit cumque eius? Illum distinctio sit ad
                      eligendi architecto ratione aliquid? Voluptate est autem
                      aspernatur esse?
                    </p>
                    <div class="author-info">
                      <h4>Livinart Tech</h4>
                      <span>New York, US</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single-slider container px-0">
            <div class="testimonial-widget">
              <div class="row">
                <div class="col-sm-4">
                  <div class="author-img">
                    <img class="w-100 h-100 object-fit-cover" src="img/testimonial/img-2.png" alt="image" />
                  </div>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                  <div class="testimonial-content">
                    <div class="watch-button">
                      <a data-fancybox href="https://www.youtube.com/watch?v=xcJtL7QggTI">
                        <i class="fa fa-play"></i>
                        watch the video
                      </a>
                    </div>
                    <h2>Making dreams a reality!</h2>
                    <p class="pr-lg-60">
                      We were looking for a home of happiness and peace.
                      Thanks to the Grihashakti team, who helped us to realise
                      this dream of ours. Our home has been very lucky for us
                      – as we shifted to our new home, prosperity followed!
                    </p>
                    <div class="author-info">
                      <h4>Maxwell Wood</h4>
                      <span>New York, US</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single-slider container px-0">
            <div class="testimonial-widget">
              <div class="row">
                <div class="col-sm-4">
                  <div class="author-img">
                    <img class="w-100 h-100 object-fit-cover" src="img/testimonial/img-2.png" alt="image" />
                  </div>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                  <div class="testimonial-content">
                    <div class="watch-button">
                      <a data-fancybox href="https://www.youtube.com/watch?v=xcJtL7QggTI">
                        <i class="fa fa-play"></i>
                        watch the video
                      </a>
                    </div>
                    <h2>Making dreams a reality!</h2>
                    <p class="pr-lg-60">
                      We were looking for a home of happiness and peace.
                      Thanks to the Grihashakti team, who helped us to realise
                      this dream of ours. Our home has been very lucky for us
                      – as we shifted to our new home, prosperity followed!
                    </p>
                    <div class="author-info">
                      <h4>Maxwell Wood</h4>
                      <span>New York, US</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single-slider container px-0">
            <div class="testimonial-widget">
              <div class="row">
                <div class="col-sm-4">
                  <div class="author-img">
                    <img class="w-100 h-100 object-fit-cover" src="img/testimonial/img-2.png" alt="image" />
                  </div>
                </div>
                <div class="col-sm-8 d-flex align-items-center">
                  <div class="testimonial-content">
                    <div class="watch-button">
                      <a data-fancybox href="https://www.youtube.com/watch?v=xcJtL7QggTI">
                        <i class="fa fa-play"></i>
                        watch the video
                      </a>
                    </div>
                    <h2>Making dreams a reality!</h2>
                    <p class="pr-lg-60">
                      We were looking for a home of happiness and peace.
                      Thanks to the Grihashakti team, who helped us to realise
                      this dream of ours. Our home has been very lucky for us
                      – as we shifted to our new home, prosperity followed!
                    </p>
                    <div class="author-info">
                      <h4>Maxwell Wood</h4>
                      <span>New York, US</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
      <!-- TESTONOMIAL SECTION END -->

      <!-- Frequently Ask Questions section -->
      <section class="faq-area-3">
        <div class="container">
          <div class="row gy-lg-0 gy-4">
            <div
              class="col-lg-6"
              style="border-radius: 15px; object-fit: cover; overflow: hidden"
            >
              <img
                style="height: 100%; width: 100%"
                class="faq-img img-fluid"
                src="img/poster/faq.png"
                alt="FAQ-Image"
              />
            </div>
            <div class="col-lg-6 pl-lg-50">
              <span class="subtitle">_FAQ</span>
              <h1>
                Frequently asked general
                <span class="underline-shape">questions</span>
              </h1>

              <div class="faq-widget">
                <div class="accordion" id="accordionExample">
                  <% frequently.slice(0, 3).forEach((faq, index)=> { %>
                  <div class="single-faq wow fadeInUp" data-wow-delay="0.1s">
                    <div class="w-100">
                      <div class="faq-header" id="heading<%= index %>">
                        <h6
                          class="mb-0 text-white"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapse<%= index %>"
                          aria-expanded="true"
                          aria-controls="collapse<%= index %>"
                        >
                          <%= faq.question %>
                          <i class="icon_plus"></i>
                          <i class="icon_minus-06"></i>
                        </h6>
                      </div>
                      <div
                        id="collapse<%= index %>"
                        class="collapse show"
                        aria-labelledby="heading<%= index %>"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="faq-body">
                          <p><%= faq.answer %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                </div>

                <h6 class="more-contact">
                  Have more question ? <a href="/contact">Contact Us</a>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Frequently Ask Questions section -->

      <!-- Service -->

      <!-- Service end -->

      <!-- what client says section -->
      <section class="client-area-2 pt-60 pb-60">
        <div class="container">
          <div class="section-title">
            <span class="short-title-2">_Testimonials</span>
            <h1 class="wow fadeInUp mb-3">
              Customer <span class="underline-shape">feedbacks</span>
            </h1>
            <p class="wow fadeInUp" data-wow-delay="0.1s">
              Testimonials Unleashed: Hear Our Customers Speak.
            </p>
          </div>

          <div class="client-slider-2">
            <% feedbacks.forEach((feedback, index)=> { %>
            <div
              class="single-client wow fadeInUp"
              data-wow-delay="<%= (index % 3) * 0.2 %>s"
            >
              <!-- star section  To be added later -->
              <!-- <div class="rating">
                <% for (let i=0; i < 5; i++) { %>
                <a href="#"><i class="icon_star"></i></a>
                <% } %>
              </div> -->
              <p class="quote"><%= feedback.message %></p>

              <div class="client-info">
                <div>
                  <p><%= feedback.fullname %></p>
                  <span class="role"> <%= feedback.subject %> </span>
                </div>
              </div>
            </div>
            <% }); %>
          </div>

          <!-- pop-up html code -->
          <div class="lightbox" id="lightbox">
            <div class="popup-container">
              <div class="text-dark d-flex justify-content-end">
                <button
                  type="button"
                  class="close close-btn border border-secondary p-1"
                  aria-label="Close"
                >
                  <span aria-hidden="true ">&times;</span>
                </button>
              </div>

              <form
                action="/feedback"
                method="post"
                enctype="multipart/form-data"
                class="feedback-form-widget"
              >
                <h3 class="text-dark">Feedback Form</h3>
                <div class="row">
                  <div class="col-md-6 feedback-field">
                    <label for="f-name text-start">Full Name</label>
                    <input
                      type="text"
                      id="f-name"
                      name="fullname"
                      class="form-control"
                      placeholder="What's your name?"
                      required
                    />
                  </div>
                  <div class="col-md-6 feedback-field">
                    <label for="email-address">Email</label>
                    <input
                      type="email"
                      id="email-address"
                      name="email"
                      class="form-control"
                      placeholder="yourname@example.com"
                      required
                    />
                  </div>
                  <div class="col-md-12 mt-md-0 feedback-field">
                    <label for="subject">Subject(50 Character Max)</label>
                    <input
                      type="text"
                      id="subject"
                      name="subject"
                      maxlength="50"
                      class="form-control"
                      placeholder="Enter Subject"
                      required
                    />
                  </div>

                  <div class="col-md-12 feedback-field">
                    <label for="form-text">Messages (150 Character Max)</label>
                    <textarea
                      cols="20"
                      rows="3"
                      name="message"
                      id="form-text"
                      maxlength="150"
                      class="form-control pt-15"
                      placeholder="Your message......"
                      required
                    ></textarea>
                  </div>

                  <div class="col-12 mt-35">
                    <button type="submit" class="theme-btn theme-btn-lg w-100">
                      Submit Now
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- pop-up feedback code -->
          <div class="d-flex justify-content-center m-5">
            <button class="pop-btn btn btn-primary">Add Feedback</button>
          </div>
        </div>
      </section>
      <!-- what client says section end -->

      <!-- our news section -->
      <section
        class="news-area-2 pt-120 pb-200 bg-white position-relative"
        style="z-index: 1"
      >
        <div class="container">
          <div class="section-title">
            <span class="short-title-2">_Blog</span>
            <h1 class="wow fadeInUp mb-3">
              Our latest <span class="underline-shape">articles</span>
            </h1>
            <p>
              Explore Insights and Ideas: Dive into Our Latest Blogs<br />
              and Articles for In-Depth Perspectives, Trends, and Valuable
              Knowledge.
            </p>
          </div>

          <div class="row pt-55 gy-lg-0 gy-4">
            <% blogs.forEach(blog=> { %>
            <div class="col-lg-4 col-md-6">
              <div class="blog-widget-2 wow fadeInUp" data-wow-delay="0.1s">
                <a href="blog-details/<%= blog._id %>" class="blog-img d-block">
                  <img src="<%= blog.images?.[0]?.url %>" alt="blog-img" />
                  <div class="catagory yellow-bg"><%= blog.category %></div>
                </a>
                <div class="blog-content">
                  <h6>
                    <a href="blog-details/<%= blog._id %>">
                      <%= blog.title %>
                    </a>
                  </h6>
                  <div class="post-info">
                    <div class="post-date">
                      <img
                        src="img/home-4/calender-outline.svg"
                        alt="calendar"
                      />
                      <span>
                        <%= blog.postingDate.toLocaleDateString() %>
                      </span>
                    </div>
                    <div class="author">
                      <img
                        src="img/home-4/user-profile.svg"
                        alt="user profile"
                      />
                      <span> <%= blog.author %> </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </section>
      <!-- our news section end -->
      <section class="cta-area-3 bg-white">
        <div class="container">
          <div class="row">
            <div class="col-md-12 position-relative">
              <div class="cta-4 cta-bg-primary">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="cta-content wow fadeInRight">
                      <h2 class="mb-10">Stay Updated</h2>
                      <p>
                        Unlock financial success with our newsletter – Your
                        gateway to informed decisions and prosperous futures.
                      </p>
                      <form id="subscribe-form">
                        <div class="d-flex flex-column flex-sm-row mt-40">
                          <input
                            type="email"
                            class="form-control"
                            name="email"
                            placeholder="Enter Email address"
                          />
                          <button
                            type="submit"
                            class="input-append theme-btn theme-btn-lg ms-sm-3"
                          >
                            Subscribe
                          </button>
                        </div>
                        <div id="subscribe-message" class="text-success"></div>
                      </form>
                      <!-- <ul class="list-unstyled feature-list">
                      <li>
                        <i class="fas fa-check-circle"></i> Get 30 day free
                        trial
                      </li>
                      <li><i class="fas fa-check-circle"></i> No Spamming</li>
                    </ul> -->
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <!-- <img class="cta-img wow fadeInUp img-fluid" src="img/home-4/cta-Img.png" alt="Image" /> -->
                    <img
                      class="shape img-fluid"
                      src="img/home-4/cta-shape.png"
                      alt="Image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- footer -->
    <footer class="footer footer-3">
      <div class="footer-top pt-200 pb-lg-00 pb-120">
        <div class="container">
          <div class="row gx-0 pt-60">
            <!-- left section -->
            <div class="col-lg-6 col-sm-6 text-center text-sm-start ms-0">
              <div class="footer-widget wow fadeInLeft mb-30">
                <div class="footer-text mb-20">
                  <p>
                    Vinayak Finmart Embarking on a journey to shape futures. Our
                    legacy fuels dreams. Your trusted partner in financial
                    growth and success.
                  </p>
                </div>

                <span class="overline">Disbursed</span>

                <div class="footer-bold">
                  <span class="counter">&#8377;<span>3000</span> </span>
                  <span class="counter">Cr</span>
                </div>
                <!-- <p class="time">2021-01-05 14:00 (INTERNATIONAL TIME)</p> -->
              </div>
            </div>
            <!-- center section  -->
            <div
              class="col-lg-3 col-sm-6 text-center text-sm-start me-0 ms-lg-5"
            >
              <div
                class="footer-widget mb-30 wow fadeInUp"
                data-wow-delay="0.5s"
              >
                <div class="f-widget-title">
                  <h4 class="text-light">Vinayak Finmart at a Glance</h4>
                </div>
                <div class="footer-link">
                  <ul>
                    <li><a href="/about"> About Us </a></li>
                    <li><a href="/contact"> Contact Us</a></li>
                    <li><a href="/job-post"> Jobs</a></li>
                    <li><a href="/blog"> Our Blogs</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- feedback form -->
          </div>
        </div>
      </div>
      <!-- copyright area -->
      <div class="copyright pt-25 pb-25">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-3 text-center text-lg-start">
              <a href="/" class="p-0 m-0 h-100 w-100 object-fit-cover"
                ><img
                  src="img/Vinayak/17.png"
                  height="100px"
                  width="100px"
                  alt="logo"
              /></a>
            </div>
            <div class="col-lg-6 text-center my-3 my-sm-0">
              <div class="copyright-text">
                <div class="d-flex gap-3 align-items-center">
                  <div>Copyright &copy; 2023</div>
                  <div class="border" style="height: 25px"></div>
                  <div>Vinayak Finmart Pvt. Ltd</div>
                  <div class="border" style="height: 25px"></div>
                  <div><a href="/privacy-policy">Privacy Terms of Use</a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 text-center text-lg-end">
              <div class="social-button">
                <a
                  target="_blank"
                  href="https://www.facebook.com/profile.php?id=61550778823112&mibextid=ZbWKwL"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a target="_blank" href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-twitter-x"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"
                    />
                  </svg>
                </a>
                <a
                  target="_blank"
                  href="https://instagram.com/vinayakfinmart?igshid=NzZlODBkYWE4Ng=="
                  ><i class="fab fa-instagram"></i
                ></a>

                <a target="_blank" href="#"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <!-- Back to top button -->
    <!-- <a id="back-to-top" title="Back to Top"></a> -->

    <!-- JS here -->
    <script type="text/javascript" id="zsiqchat">
      var $zoho = $zoho || {};
      $zoho.salesiq = $zoho.salesiq || {
        widgetcode:
          'siq65732e96fa8bf1e8280cb0f71fab0d40a6258a5c2d38240ad002e5ca58f79622',
        values: {},
        ready: function () {},
      };
      var d = document;
      s = d.createElement('script');
      s.type = 'text/javascript';
      s.id = 'zsiqscript';
      s.defer = true;
      s.src = 'https://salesiq.zohopublic.in/widget';
      t = d.getElementsByTagName('script')[0];
      t.parentNode.insertBefore(s, t);
    </script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/modal.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/preloader.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script
      type="text/javascript"
      src="/js/jquery.smoothscroll.min.js"
    ></script>
    <script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="/js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/parallax.js"></script>
    <script type="text/javascript" src="/js/jquery.parallax-scroll.js"></script>
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/feedback.js"></script>
  </body>
</html>
