<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Vinayak Finmart Pvt. Ltd.</title>
  <!-- <link rel="shortcut icon" href="#" type="image/x-icon"> -->
 <link
      rel="shortcut icon"
      href="/img/Vinayak/10.png"
      type="image/x-icon"
    />
  <!-- CSS here -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/elegant-icons.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/all.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/animate.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/nice-select.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/user.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" media="all" />
</head>

<body class="user text-dark" id="user">
  <!-- Preloader -->
  <div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
      <div class="round_spinner">
        <div class="spinner"></div>
        <div class="text">
          <img src="img/Vinayak/9.jpg" height="100px" alt="" />
        </div>
      </div>
      <h2 class="head">Did You Know?</h2>
      <p></p>
    </div>
  </div>
  <!-- Header -->
  <header class="header" style="background-color: black !important">
    <div class="header-top py-2">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            <div class="header-info-left">
              <div class="timestamp ms-4">
                <i class="icon_clock_alt"></i> 24 X 7 Available
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="header-info-right">
              <ul>
                <li>
                  <img class="img-fluid" src="img/phone-outline-white.png" alt="phone" /><a
                    href="tel:+91-9815353035">+91-9815353035</a>
                </li>

                <li>
                  <i class="icon_mail_alt"></i><a href="mailto:info@vinayakfinmart.com">info@vinayakfinmart.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-menu header-menu-2 bg_white" id="sticky">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img
                id="navbar-logo"
                class="img-fluid object-fit-cover"
                alt="Vinayak-Image"
              />
          </a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="menu_toggle">
              <span class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </span>
              <span class="hamburger-cross">
                <span></span>
                <span></span>
              </span>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav menu ms-auto" id="sidebar">
              <li class="nav-item dropdown submenu" class="active">
                <a href="/" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Explore</a>
              </li>
              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="#dashboard" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Dashboard
                </a>
              </li>

              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="#document" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Document
                </a>
              </li>

              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="#notification" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Notification
                </a>
              </li>
              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="/contact" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Help&Support
                </a>
              </li>
              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="/privacy-policy" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Privacy Policy
                </a>
              </li>
            </ul>
            <!-- dashboard button -->
            <div style="margin-left: 15px" class="">
              <form class="m-auto" action="/logout" method="get">
                <button class="custom-btn btn-1 d-flex justify-content-between align-items-center gap-2">
                  LOGOUT
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- Preloader -->
  <!-- <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
          <div class="round_spinner">
            <div class="spinner"></div>
            <div class="text">
              <img src="img/Vinayak/9.jpg" height="100px" alt="" />
            </div>
          </div>
          <h2 class="head">Welcome User Dashboard</h2>
          <p></p>
        </div>
      </div> -->

  <main class="main">
    <!-- Get In Touch start -->
    <section class="pt-lg-140 pt-180 get-touch-area mt-50 user user">
      <div class="container-fluid">
        <div class="wrapper">
          <div id="content  mt-50 mb-50">
            <!-- dashboard -->
            <div class="content-section active dashboard" id="dashboard">
              <!-- Loan Message -->
              <% if (userData?.ApplicationStatus==='Approved' ) { %>
                <div class="status text-center p-3 border border-primary">
                  <div class="alert alert-success" role="alert">
                    Congratulations, your loan is approved!
                  </div>
                </div>
                <% } else if (userData?.ApplicationStatus==='Rejected' ) { %>
                  <div class="status text-center p-3 border border-primary">
                    <div class="alert alert-danger" role="alert">
                      Sorry, your loan application has been rejected.
                    </div>
                  </div>
                  <% } else { %>
                    <div class="status text-center p-3 border border-primary">
                      <div class="alert alert-info" role="alert">
                        Your loan application is pending review. Please wait for
                        further updates.
                      </div>
                    </div>

                    <% } %>

                      <div class="row my-4 gy-4">
                        <div class="col-lg-6 col-md-12">
                          <div class="loan-details-widget">
                            <!-- Personal Details -->
                            <div class="personal-details">
                              <div class="row mb-2">
                                <div class="col">
                                  <label for="username" class="form-label">Full Name</label>
                                  <div type="text" class="form-control d-flex align-items-center" id="username">
                                    <%= `${userData?.personalDetails?.firstName}
                                      ${userData?.personalDetails?.lastName}`%>
                                  </div>
                                </div>
                              </div>

                              <div class="row mb-2">
                                <div class="col-md-6">
                                  <label for="contact" class="form-label">Contact</label>
                                  <div type="text" class="form-control d-flex align-items-center" id="username">
                                    +91 <%= userData?.personalDetails?.mobileNumber %>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <label for="contact" class="form-label">DOB</label>
                                  <div class="form-control d-flex align-items-center" id="username">
                                    <%= userData?.personalDetails?.dateOfBirth %>
                                  </div>
                                </div>
                              </div>
                              <div class="row mb-2">
                                <label for="inputLabel3" class="form-label">Email Address</label>
                                <div class="input-group">
                                  <div class="form-control d-flex align-items-center" id="email">
                                    <%= userData?.personalDetails?.email %>
                                  </div>
                                </div>
                              </div>

                              <div class="row mb-2">
                                <div class="col">
                                  <label for="email" class="form-label">Permanent Address</label>
                                  <div type="text" class="form-control d-flex align-items-center" id="username">
                                    <%= userData?.personalDetails?.presentAddress %>
                                  </div>
                                </div>
                              </div>
                              <div class="row mb-2">
                                <div class="col">
                                  <label for="email" class="form-label"> City</label>
                                  <div type="text" class="form-control d-flex align-items-center" id="username">
                                    <%= `${userData?.personalDetails?.city}, ${userData?.personalDetails?.zipCode}`%>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                          <div class="user-loan-details">
                            <!-- Loan details -->
                            <div class="loan-details">
                              <div class="row mb-35 gy-4">
                                <h2 class="text-center">
                                  <%= userData?.loanDetails?.['select-loan-type'] %>
                                </h2>
                              </div>
                              <div class="row gy-5">
                                <div class="col-md-6">
                                  <div class="label" for="loan-amount">
                                    Profession
                                  </div>

                                  <div class="input-field">
                                    <div id="loan-amount"
                                      class="form-control d-flex align-items-center justify-content-between">
                                      <%= userData?.loanDetails?.financingType %>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="label" for="loan-amount">
                                    Bank Service
                                  </div>

                                  <div class="input-field">
                                    <div id="loan-amount"
                                      class="form-control d-flex align-items-center justify-content-between">
                                      <%= userData?.loanDetails?.bankService %>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="label" for="loan-amount">
                                    Loan amount
                                  </div>

                                  <div class="input-field">
                                    <div id="loan-amount"
                                      class="form-control d-flex align-items-center justify-content-between">
                                      ₹ <%= userData?.loanDetails?.loanAmount %>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <label class="label">Loan duration</label>
                                  <p style="font-weight: 700">
                                    <%= userData?.loanDetails?.tenureDuration %>
                                    <%= userData?.loanDetails?.tenureUnit %>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="d-flex flex-column gap-3 user-loan-calculator">
                            <div class="d-flex gap-3 align-items-center">
                              <span>
                                <h5 class="">Loan Amount</h5>
                              </span>
                              <span>₹ <%= userData?.loanDetails?.loanAmount %></span>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                              <span>
                                <h5 class="">EMI Amount</h5>
                              </span>
                              <span> ₹ <%= emi ? emi : "Na" %> </span>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                              <span>
                                <h5 class="">Loan Status</h5>
                              </span>
                              <span>
                                <% if (userData?.ApplicationStatus==='Approved' ) { %>
                                  <button class="btn btn-success" disabled>
                                    <%= userData?.ApplicationStatus %>
                                  </button>
                                  <% } else if (userData?.ApplicationStatus==='Rejected' ) { %>
                                    <button class="btn btn-danger" disabled>
                                      <%= userData?.ApplicationStatus %>
                                    </button>
                                    <% } else { %>
                                      <button class="btn btn-warning" disabled>
                                        <%= userData?.ApplicationStatus %>
                                      </button>
                                      <% } %>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Loan Calculation -->
            </div>

            <!-- Documents -->
            <div class="content-section document mt-50 mb-50" id="document">
              <div class="d-flex justify-content-between mt-50 mb-50">
                <h2>Document</h2>
              </div>
              <div class="d-flex flex-wrap gap-5">
                <!-- Document Item  -->
                <% userData?.documentUploads?.forEach(element=> { %>
                  <div class="item">
                    <div style="height: 100px; width: 100px" class="object-fit-cover">
                      <a href="<%= element?.url  %>" target="_blank">
                        <img height="100%" width="100%" src="/img/document.png"
                          alt="folder image" />
                      </a>
                    </div>
                    <p class="text-center">
                      <%= element?.filename %>
                    </p>
                  </div>
                  <% }) %>
                    <!-- upload document form  -->
                    <div class="">
                      <form action="/document-upload" id="doc-form-upload" method="post" enctype="multipart/form-data">
                        <div class="mb-3 d-flex justify-content-center">
                          <input id="upload-doc" name="Documents" type="file" style="display: none" required />
                          <label for="upload-doc" style="height: 100px; width: 100px; cursor: pointer"
                            class="obejct-fit-cover border border-light rounded d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                              class="bi bi-upload" viewBox="0 0 16 16">
                              <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                              <path
                                d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                            </svg>
                          </label>
                        </div>
                        <button type="submit" class="btn-primary btn">
                          Upload Doc
                        </button>
                      </form>
                    </div>
              </div>
            </div>

            <!-- Notifications -->
            <div class="content-section notification mt-50 mb-50" id="notification">
              <h2 class="text-center mt-50 mb-50">Notifications</h2>
              <!-- Single Notification -->
              <% if (Notifications){ %>
                <div class="d-flex flex-column gap-10">
                  <% for( let index=0; index < Notifications.length; index++ ) { %>
                    <div class="alert alert-secondary" role="alert">
                      <h4 class="alert-heading">
                        <%= Notifications[index]?.title %>
                      </h4>
                      <p>
                        <%= Notifications[index]?.message %>
                      </p>
                    </div>
                    <% } %>
                </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
      </div>
    </section>
  </main>

  <!-- footer -->

  <footer class="footer footer-3">
    <div class="footer-top pt-100 pb-lg-115 pb-120">
      <div class="container">
        <div class="row gx-0 pt-60">
          <!-- left section -->
          <div class="col-lg-6 col-sm-6 text-center text-sm-start ms-0">
            <div class="footer-widget wow fadeInLeft mb-30">
              <div class="footer-text mb-20">
                <p>
                  Vinayak Finmart Embarking on a journey to shape futures. Our
                  legacy fuels dreams. Your trusted partner in financial
                  growth and success.
                </p>
              </div>

              <span class="overline">Disbursed</span>

              <div class="footer-bold">
                <span class="counter">&#8377;<span>3000</span> </span>
                <span class="counter">Cr</span>
              </div>
              <!-- <p class="time">2021-01-05 14:00 (INTERNATIONAL TIME)</p> -->
            </div>
          </div>
          <!-- center section  -->
          <div class="col-lg-3 col-sm-6 text-center text-sm-start me-0 ms-lg-5">
            <div class="footer-widget mb-30 wow fadeInUp" data-wow-delay="0.5s">
              <div class="f-widget-title">
                <h4 class="text-light">Vinayak Finmart at a Glance</h4>
              </div>
              <div class="footer-link">
                <ul>
                  <li><a href="/about"> About Us </a></li>
                  <li><a href="/contact"> Contact Us</a></li>
                  <li><a href="/job-post"> Jobs</a></li>
                  <li><a href="/blog"> Our Blogs</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- feedback form -->
        </div>
      </div>
    </div>
    <!-- copyright area -->
    <div class="copyright pt-25 pb-25">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 text-center text-lg-start">
            <a href="/" class="p-0 m-0 h-100 w-100 object-fit-cover"><img src="img/Vinayak/17.png" height="100px" width="100px" alt="logo" /></a>
          </div>
          <div class="col-lg-6 text-center my-3 my-sm-0">
            <div class="copyright-text">
              <div class="d-flex gap-3 align-items-center">
                <div>Copyright &copy; 2023</div>
                <div class="border" style="height: 25px;"></div>
                <div>Vinayak Finmart Pvt. Ltd</div>
                <div class="border" style="height: 25px;"></div>
                <div><a href="/privacy-policy">Privacy Terms of Use</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 text-center text-lg-end">
            <div class="social-button">
              <a target="_blank" href="https://www.facebook.com/profile.php?id=61550778823112&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-twitter-x" viewBox="0 0 16 16">
                  <path
                    d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" />
                </svg>
              </a>
              <a  target="_blank" href="https://instagram.com/vinayakfinmart?igshid=NzZlODBkYWE4Ng=="><i
                  class="fab fa-instagram"></i></a>

              <a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->

  <!-- Back to top button -->
  <a id="back-to-top" title="Back to Top"></a>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/modal.js"></script>
  <script type="text/javascript" src="/js/preloader.js"></script>
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/jquery.smoothscroll.min.js"></script>
  <script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
  <script type="text/javascript" src="/js/jquery.nice-select.min.js"></script>
  <script type="text/javascript" src="/js/slick.min.js"></script>
  <script type="text/javascript" src="/js/parallax.js"></script>
  <script type="text/javascript" src="/js/jquery.parallax-scroll.js"></script>
  <script type="text/javascript" src="/js/wow.min.js"></script>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
  <script src="/js/user.js"></script>
</body>

</html>